@model List<Category>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel panel-primary">
    <div class="panel panel-body">
        
        <table class="table table-hover">
            <tr>
                <th> Kategori Adi</th>
                <th> Icerıgı</th>


            </tr>

            @foreach (Category item in Model)
            {
                <tr>
                    <td> @item.CategoryName</td>
                    <td> @item.Description</td>
                </tr>

            }

        </table>

    </div>
</div>